*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;

}
header{
    background-image: url("../img/vskrytie_zamkov_2.jpg");
    max-width: 100%; 
    height: auto;
}
.header-block{
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
}

.header-bg{
 padding: 10px;
 background-color: #4C5D73;
 display: inline-block;
}
.container {
    margin: 0 auto;
    width: 90%;
}

.header-logo {
    font-size: 30px;
}

h1{
    
   color: beige;
}


p{
    color:#404040;
} 

.header-tell {
    text-align: center;
    font-size: 20px;
    background-color:#F2F2F2;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
#phone {
    height: 100px;
}


/* .section-container {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: 400px 400px 400px;
}

.section-cl {
    background-color: blueviolet;
    overflow:hidden;
    position: relative;
} */
.section-container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    padding: 50px 0;
}
.section-p{
    margin: 20px 0px 0px;
    font-size: 40px;
    border-bottom: 1px solid #D0DADD;
    text-align: center;

}
.section-cl{
    width: 30%;
    margin-bottom: 30px;
    border-radius: 14px;
    background: #95ACBF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.text-section{
    width: 90%;
    padding-bottom: 15px;
}

.section-img {
    width: 90%;
    margin-top: 20px;
    border-radius: 12px;
}

.head-text {
    font-size: 22px;
    padding: 6px 0;
}

.foother {
    background-color: aquamarine;
    height: 200px;
}





/*кнопка звонка*/

.callback-bt {
    background:#95ACBF;
    border:2px solid #95ACBF;
    border-radius:50%;
    box-shadow:0 8px 10px #95ACBF;
    cursor:pointer;
    height:100px;
    text-align:center;
    width:100px;

    right: 8%;
    bottom: 18%;
    z-index:999;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
    height:70px;
    width:85px;        
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.callback-bt .text-call span {
text-align: center;
color:#95ACBF;
opacity: 0;
font-size: 0;
    position:absolute;
    right: 4px;
    top: 35px;
line-height: 14px;
    font-weight: 600;
text-transform: uppercase;
transition: opacity .3s linear;
font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
opacity: 1;
    font-size: 11px;
}
.callback-bt:hover i {
display:none;
}

.callback-bt:hover {
    z-index:1;
    background:#fff;
    color:transparent;
    transition:.3s;
}
.callback-bt:hover i {
    color:#95ACBF;
    font-size:40px;
    transition:.3s;
}
.callback-bt i {
    color:#fff;
    font-size:34px;
    transition:.3s;
    line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
    0% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
    box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
}
}
/* конец кнопки звонка */


.footer {
    background-color: #4C5D73;
    height: 200px;
}

.section-t {
    display: flex;
    text-align: center;
    justify-content: center;
}